<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
      
    InfoControl
              
    -->
    <sectionGroup name="InfoControl">
      <section name="DataAccess" type="InfoControl.Data.Configuration.DataAccessSection, InfoControl"/>
      <section name="ScheduledTasks" type="InfoControl.Web.ScheduledTasks.SchedulerSection, InfoControl"/>
      <section name="UrlRewriting" type="InfoControl.Web.UrlRewriting.UrlRewriterSectionGroup, InfoControl"/>
      <section name="Payment" type="InfoControl.Payment.Configuration.PaymentSectionGroup, InfoControl"/>
      <section name="Maintenance" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="Personalization" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <sectionGroup name="ExceptionNotifier">
        <section name="Provider" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="EventLog" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="Database" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="Email" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="File" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </sectionGroup>
    </sectionGroup>
    <!-- 
        
    AJAX       
     
    
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
       
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <!-- 
           
    
    
    
    
    
    
     
    
  -->
  <InfoControl>
    <!-- 
    <Data connectionStringName="string"/>
    -->
    <DataAccess connectionStringName="Production"/>
    <!--  
    <ScheduledTasks enabled="boolean"/>
    -->
    <ScheduledTasks enabled="true"/>
    <!-- 
    <Maintenance enabled="boolean" page="string"/> 
    -->
    <Maintenance enabled="true" maintenancePage="~/Infocontrol/Host/Applications.aspx"/>
    <!-- 
    <Personalization 
      cache="[true | false]"            Retrieve roles and personalization each request
      cacheMode="[Cookies | Session]"   Where the informations will stored
      cookiesName="string"              Name of key in container 
      cookiesTimeout="int" />           Timeout 
    -->
    <Personalization enabled="true" cookiesName=".ASPX_PERSONALIZATION" cookiesTimeout="15" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="false" createPersistentCookie="true"/>
    <!-- 
    <UrlRules>
      <Rule From="" To="" />
    </UrlRules> 
    -->
    <UrlRewriting>
      <Rules>
        <Role From="~/site/rss,([0-9ABCDEF]+)?.aspx(\?(.*))?" To="~/site/rss.aspx?p=$1^$3"/>
        <Role From="~/site/loja([a-zA-Z\\/0-9_-]+)?/([a-zA-Z\\/0-9_-]+),([0-9ABCDEF]+).aspx(\?(.*))?" To="~/site/product.aspx?catid=$1^pid=$3^$5"/>
        <Role From="~/site/loja([a-zA-Z\\/0-9_-]+)?(/\?(.*))?" To="~/site/products.aspx?catid=$1^$3"/>
        <Role From="~/site/([a-zA-Z\\/0-9_-]+)(,([0-9ABCDEF]+))?.aspx(\?([a-zA-Z0-9_-]+))?$" To="~/site/default.aspx?p=$3^t=$1.htm^$5"/>
      </Rules>
    </UrlRewriting>
    <!--
    <Payment>
      <Rule From="" To="" />
    </Payment> 
    -->
    <Payment>
      <Providers>
        <Provider type="InfoControl.Payment.BoletoProvider" address="boleto.aspx"/>
        <Provider type="InfoControl.Payment.MasterCardProvider" address="https://ecommerce.redecard.com.br/pos_virtual/wskomerci/cap.asmx"/>
        <Provider type="InfoControl.Payment.VisaProvider" address="http://tef.vivina.com.br/componentes_vbv/mpg.exe">
          <Extras>
            <add key="keysPath" value="C:\TEF\VISA\keys"/>
            <add key="configPath" value="C:\TEF\VISA\Customers"/>
          </Extras>
        </Provider>
      </Providers>
    </Payment>
    <!-- 
    <ExceptionNotifier>
      <EventLog active="[true|false]"/>
      <Database active="[true|false]" />
      <Email active="[true|false]" digest="[true|false]" to="string" from="string" />
      <File active="[true|false]" filePath="string" dateFormatInFileName="string" />
    </ExceptionNotifier>
    -->
    <ExceptionNotifier>
      <Provider type="Vivina.Erp.SystemFramework.Auditing.CustomerCallNotifier, Vivina.Erp.WebUI"/>
      <EventLog active="false"/>
      <Database active="true"/>
      <Email active="false" digest="true" to="suporte@vivina.com.br" from="suporte@vivina.com.br"/>
      <File active="false" filePath="C:\Vivina Files\Works\Projects\Vivina\Framework\2.0\source\Test\" dateFormatInFileName="yyyyMMdd"/>
    </ExceptionNotifier>
  </InfoControl>
  <!-- 
    
    
   
   
   
   
   
    
    
  -->
  <appSettings>
    <add key="ApplicationName" value="InfoControl"/>
    <add key="ApplicationVersion" value="0.9.189"/>
  </appSettings>
  <!-- 
    
    
        
        
          
        
     
    
  -->
  <connectionStrings>
    <add name="DevServer" providerName="System.Data.SqlClient" connectionString="                    
        Data Source=.\SQLEXPRESS;                    
        Initial Catalog=Vivina_InfoControl;                    
        User Id='sa';                    
        Password='123456';" />

    <add name="Production" providerName="System.Data.SqlClient" connectionString="                
        Data Source=.\SQLEXPRESS;                                     
        Initial Catalog=Vivina_InfoControl;                                     
        User Id='sa';                           
        Password='ti63r5@dm';"/>

    <add name="FinancierOperationXlsImport" providerName="System.Data.OleDb" connectionString="
         Provider=Microsoft.Jet.OLEDB.4.0;
         Data Source=C:\Windows\Temp\FinancierOperationFile.Xls;
         Extended Properties=Excel 8.0;" />
    
  </connectionStrings>
  <!-- 
    
    
    
    
    
    
    
    
    

	  -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/d:DEBUG"
                type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
    
    
    
    
    
    
    
    
    -->
  <system.web>
    <!-- 
		ViewState IN Session
    
		-->
    <browserCaps>
      <case>RequiresControlStateInSession=true</case>
    </browserCaps>
    <sessionPageState historySize="10"/>
    <!-- 
    
    
    
    
    
    
    
    
    
    
    
		UPLOADS
		allow large files until 2097151 bytes or 2Gb uploads 
		-->
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2097151" requestLengthDiskThreshold="2097151"/>
    <!--
		
		
    
    
    
    
    
    
		
		
		GLOBALIZATION
		This section sets the globalization settings of the application. 
		Utf-8 is not supported on Netscape 4.x 
		If you need netscape compatiblity leave iso-8859-1.
		UTF-8 is recommended for complex languages
		-->
    <globalization culture="pt-BR" uiCulture="pt-BR" enableClientBasedCulture="true" responseEncoding="utf-8"/>
    <!--
		
		
		
		
		
		
		
		-->
    <trace enabled="true" pageOutput="false" localOnly="false" requestLimit="100" mostRecent="true"/>
    <!-- 
    
    
    
    
    
    
     COMPILATION
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
    -->
    <compilation debug="true" defaultLanguage="C#">
      <assemblies>        
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common"/>
      </buildProviders>
    </compilation>
    <!--
    
    
        
    
    
    
    
    
    
    CUSTOM ERRORS
    Configures a generic error page that treat the error and show friendly page
    -->
    <customErrors mode="Off" defaultRedirect="~/ErrorPage.aspx">
      <!-- <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/> -->
    </customErrors>
    <!--
    
    
      
    
    
    
    
    
    
    -->
    <pages pageBaseType="InfoControl.Web.UI.DataPage" enableViewStateMac="false" validateRequest="false" enableEventValidation="false">
      <namespaces>
        <add namespace="System.Linq"/>
        <add namespace="InfoControl"/>
        <add namespace="InfoControl.Data"/>
        <add namespace="InfoControl.Web"/>
        <add namespace="InfoControl.Web.Security"/>
        <add namespace="InfoControl.Security.Cryptography"/>
        <add namespace="Vivina.Erp"/>
        <add namespace="Vivina.Erp.DataClasses"/>
        <add namespace="Vivina.Erp.BusinessRules"/>
        <add namespace="Vivina.Erp.SystemFramework"/>
      </namespaces>
      <controls>
        <add tagPrefix="vfx" namespace="InfoControl.Web.UI" assembly="InfoControl"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <!--
    
    
      
      
      
      
      
    
    
    
    -->
    <webParts>
      <personalization defaultProvider="CookiesPersonalizationProvider">
        <authorization>
          <allow roles="User" verbs="enterSharedScope"/>
        </authorization>
        <providers>
          <add cookiesName=".ASPX_WEBPARTS_PERSONALIZATION" cookiesTimeout="30" createPersistentCookie="true" xmlFile="~/App_Data/SharedPageSettings.xml" name="CookiesPersonalizationProvider" type="InfoControl.Web.Personalization.WebParts.CookiesPersonalizationProvider"/>
        </providers>
      </personalization>
    </webParts>
    <!--
    
    
    
    
    
    
    
    
    
    MODULES
    HttpModules for commom funcionality    
    -->
    <httpModules>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="FileAuthorization"/>
      <remove name="Profile"/>
      <remove name="OutputCache"/>
      <remove name="ErrorHandlerModule"/>
      <!-- 
AJAX Modules
			-->
      <!--
Vivina HttpModules
      -->
      <add name="Maintenance" type="InfoControl.Web.Configuration.MaintenanceModule, InfoControl"/>
      <add name="ExceptionNotifier" type="InfoControl.Web.Auditing.ExceptionNotifierModule, InfoControl"/>
      <add name="VivinaRoleProvider" type="InfoControl.Web.Security.VivinaRoleProviderModule, InfoControl"/>
      <add name="UrlRouting" type="Vivina.Erp.SystemFramework.Web.UrlRouting.UrlRouterModule, Vivina.Erp.WebUI"/>
      <!--
<add name="Audit" type="InfoControl.Web.Logging.AuditModule, InfoControl.Web"/> 
-->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

    </httpModules>
    <!--
    
    
    
    
    
    
    
    
    
    -->
    <httpHandlers>
      <!-- Allow UserControl receipt Requests -->
      <remove path="*.ascx" verb="*"/>
      <add path="*.ascx" verb="*" type="InfoControl.Web.UserControlHttpHandler, InfoControl" validate="false"/>
      <add path="ImageService.axd" verb="*" type="InfoControl.Web.UI.WebControls.BarCode.ImageHandler, InfoControl"/>
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms"/>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" validate="false"/>
      <add verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <!-- Boleto Net-->
      <add verb="*" path="ImagemCodigoBarra.ashx" validate="false" type="BoletoNet.ImagemCodigoBarraHandler"/>
    </httpHandlers>
    <!--
    
    
    
    
    
    
    
    
    
    
    -->
    <machineKey validationKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F2A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="2B202B746511891C1BAF47F8D25C07F6C39A104696DB51F1" validation="SHA1"/>
    <!--
    
    
    
    
    
    
    
    anonymousIdentification configuration:
          enabled="[true|false]"                              Feature is enabled?
          cookieName=".ASPXANONYMOUS"                         Cookie Name
          cookieTimeout="100000"                              Cookie Timeout in minutes
          cookiePath="/"                                      Cookie Path
          cookieRequireSSL="[true|false]"                     Set Secure bit in Cookie
          cookieSlidingExpiration="[true|false]"              Reissue expiring cookies?
          cookieProtection="[None|Validation|Encryption|All]" How to protect cookies from being read/tampered
          domain="[domain]"                                   Enables output of the "domain" cookie attribute set to the specified value
        -->
    <anonymousIdentification enabled="true" cookieName=".ASPX_AUTH_ANONYMOUS" cookieTimeout="1440"  cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None"/>
    <authentication mode="Forms">
      <forms loginUrl="~/site/login.aspx" defaultUrl="~/" name=".ASPX_AUTH_FORMS" enableCrossAppRedirects="false" timeout="1440" slidingExpiration="true" />
    </authentication>
    <!-- 
    
     
    
    
    
    
    
    
    -->
    <authorization>
      <allow users="*"/>
    </authorization>
    <!-- 
    
    
    
    
    
    
    
    
    -->
    <membership defaultProvider="InfoControlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <!-- Configuration for VivinaMembershipProvider:
              name="string"                               Name corresponding the provider
              type="string"                               Invariant name a type the provider
              connectionStringName="string"               Name corresponding to the entry in <connectionStrings> section where the connection string for the provider is specified
              applicationName="string"                    Optional string to identity the application: defaults to Application Metabase path
              maxInvalidPasswordAttempts="int"            The maximun number of attempts 
              minRequiredNonalphanumericCharacters="int"  The minimum number of non-alphanumeric characters
              minRequiredPasswordLength="int"		          The minimum password length
              enablePasswordReset="[true|false]"          Should the provider support password resets
              enablePasswordRetrieval="[true|false]"      Should the provider support password retrievals
              requiresQuestionAndAnswer="[true|false]"    Should the provider require Q & A
              requiresUniqueEmail="[true|false]"          Should the provider require a unique email to be specified
              passwordFormat="[Clear|Hashed|Encrypted]"   Storage format for the password: Hashed (SHA1), Clear or Encrypted (Triple-DES)
              description="string"                        Description of what the provider does
        -->
        <add name="InfoControlMembershipProvider" type="Vivina.Erp.WebUI.InfoControl._systemframework.Security.InfoControlMembershipProvider"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonAlphanumericCharacters="1"
             enablePasswordReset="true"
             enablePasswordRetrieval="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             requiresValidEmail="true"
             passwordFormat="Hashed"
             description="Stores and retrieves membership data from the local Microsoft SQL Server database"/>
      </providers>
    </membership>
    <!-- 
     
    
    
    
    
    
    
    
    
    -->
    <roleManager defaultProvider="VivinaRoleProvider" enabled="true"
                 cacheRolesInCookie="false" cookieName=".ASPX_ROLES" cookieTimeout="15" cookiePath="/"
                 cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All"
                 createPersistentCookie="true">
      <providers>
        <clear/>
        <add name="VivinaRoleProvider" type="InfoControl.Web.Security.VivinaRoleProvider, InfoControl"
             permissionDeniedUrl="PermissionDenied.aspx"/>
      </providers>
    </roleManager>
    <!-- 
    
    
    
    
    
    
    
    
    
    -->
    <profile enabled="false" automaticSaveEnabled="false"/>
    <!-- 
    
    
    
    
    
    
    
    
    
    -->
    <siteMap enabled="true" defaultProvider="Main">
      <providers>
        <add name="Main" type="InfoControl.Web.Security.SecurityXmlSiteMapProvider, InfoControl" siteMapFile="~/infocontrol/Web.sitemap"/>
        <!--<add name="Company" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
             siteMapFile="~/infocontrol/company.sitemap"/>
        <add name="Branch" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
             siteMapFile="~/infocontrol/branch.sitemap"/>
        <add name="Main" type="InfoControl.Web.Security.SecurityXmlSiteMapProvider, InfoControl.Web" 
             siteMapFile="Web.sitemap"/>
        <add name="Main" type="InfoControl.Web.Security.SecurityXmlSiteMapProvider, InfoControl.Web" 
             siteMapFile="Web.sitemap"/>
        <add name="Main" type="InfoControl.Web.Security.SecurityXmlSiteMapProvider, InfoControl.Web" 
             siteMapFile="Web.sitemap"/>
        <add name="Main" type="InfoControl.Web.Security.SecurityXmlSiteMapProvider, InfoControl.Web" 
             siteMapFile="Web.sitemap"/>-->
      </providers>
    </siteMap>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <!-- 
  
  
  
  
  
  
  
  
  
   
  
      
  -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
    </trace>
    <!--
    <sources>
      <source name="System.ServiceModel" switchValue="Information, Warning, ActivityTracing" propagateActivity="true" >
        <listeners>
          <add name="WcfTraceListener" />
        </listeners>
      </source>
    </sources>
    -->
    <sources>
      <source name="System.Data" switchValue="Information, Warning, ActivityTracing" propagateActivity="true" >
        <listeners>
          <add name="WcfTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="WcfTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.xml"/>
      <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0"/>
    </sharedListeners>
  </system.diagnostics>
  <!--  
  
  
   
  
  
  
  
  
  
  
  
  
  
  -->
  <system.net>
    <mailSettings>
      <!--
          <smtp
              deliveryMethod = "Network" [Network | SpecifiedPickupDirectory | PickupDirectoryFromIis]
              from = "" [String]
              >
              <network
                  defaultCredentials = "false" [true|false]
                  host = "" [String]
                  password = "" [String]
                  port = "25" [number]
                  userName = "" [String]
              />
              <specifiedPickupDirectory
                  pickupDirectoryLocation = "" [String]
              />
          </smtp>-->
      <!--<smtp deliveryMethod="Network" from="atendimento@infocontrol.com.br">
        <network host="localhost" port="25"  />
      </smtp>-->
      <smtp from="infocontrol@vivina.com.br">
        <network defaultCredentials="true" host="smtp.gmail.com" port="587" userName="mailer@vivina.com.br" password="m@iler"></network>
      </smtp>
    </mailSettings>
    <!-- 


    Here you can specify the maximum number of outbound requests that can be made to a single IP. 
    Default is 2, which is just too low. This means you cannot make more than 2 simultaneous connections 
    to an IP from your Web application. Sites that fetch external content a lot suffer from congestion due 
    to the default setting. Here I have set it to 100. If your Web applications make a lot of calls to a 
    specific server, you can consider setting an even higher value.
    -->
    <connectionManagement>
      <add address="*" maxconnection="200"/>
    </connectionManagement>
  </system.net>
  <!-- 
  
  
  
  
  
  
  
  
  
  
  
  
  
  -->
  <!--
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0. It is not necessary for previous version of IIS.
	-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="FileAuthorization"/>
      <remove name="Profile"/>
      <remove name="OutputCache"/>
      <remove name="ErrorHandlerModule"/>
      <remove name="RoleManagerModule"/>
      <!--

      Vivina HttpModules

      -->
      <add name="Maintenance" type="InfoControl.Web.Configuration.MaintenanceModule, InfoControl"/>
      <add name="ExceptionNotifier" type="InfoControl.Web.Auditing.ExceptionNotifierModule, InfoControl"/>
      <add name="VivinaRoleProvider" type="InfoControl.Web.Security.VivinaRoleProviderModule, InfoControl"/>
      <add name="UrlRouting" type="Vivina.Erp.SystemFramework.Web.UrlRouting.UrlRouterModule, Vivina.Erp.WebUI"/>
      <!--
      <add name="Audit" type="InfoControl.Web.Logging.AuditModule, InfoControl.Web"/> 
      -->
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingModule" preCondition="managedHandler" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ImageService" path="ImageService.axd" verb="*" type="InfoControl.Web.UI.WebControls.BarCode.ImageHandler, InfoControl"/>
      <add name="ChartAxd" path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler"/>
      <add name="Reserved.ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms"/>
      <add name="ChartImage" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral"/>
      <add name="Telerik.Web.UI.DialogHandler" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI"/>
      <add name="Telerik.Web.UI.SpellCheckHandler" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI"/>
      <!-- Allow UserControl receipt Requests -->
      <add name="UserControlHandlerFactory" path="*.ascx" verb="*" type="InfoControl.Web.UserControlHttpHandler, InfoControl"/>
      <add name="HttpCombiner" path="WebResource.ashx" verb="*" type="InfoControl.Web.HttpCombiner, InfoControl"/>
      <remove name="MvcHttpHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc"/>

      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <!-- Boleto Net -->
      <add name="Boleto" verb="*" path="ImagemCodigoBarra.ashx"  type="BoletoNet.ImagemCodigoBarraHandler"/>

    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".ascx"/>
          <add fileExtension=".ascx" allowed="true"/>
        </fileExtensions>
        <requestLimits maxAllowedContentLength="300000000"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>

  <!-- 
  
  
  
  
  
  
  
   
  
  
  
  
  
  
  -->
  <system.serviceModel>
    <services>
      <service name="Vivina.Erp.WebUI.InfoControl.TaskService" behaviorConfiguration="main">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding" contract="Vivina.Erp.WebUI.InfoControl.TaskService" />
      </service>
      <service name="Vivina.Erp.WebUI.SearchService" behaviorConfiguration="main">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding" contract="Vivina.Erp.WebUI.SearchService" />
      </service>     
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <behaviors>
      <endpointBehaviors >
        <behavior name="AspNetAjaxBehavior" >
          <enableWebScript />
          <dataContractSerializer maxItemsInObjectGraph="1024"/>          
        </behavior>        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="main">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>
  <!-- 
  
  
  
  
  
  
  
  
  
  
  
  -->
  <location path="App_Modules">
    <system.web>
      <pages styleSheetTheme="GlassCyan"/>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="InfoControl">
    <system.web>
      <pages styleSheetTheme="GlassCyan"/>
      <authorization>
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="InfoControl/Signup_Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="InfoControl/tour.aspx">
    <system.web>
      <pages styleSheetTheme="GlassCyan"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pooba">
    <system.web>
      <pages styleSheetTheme="Pooba"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="site/CustomerCentral.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>


</configuration>
