<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <sectionGroup name="InfoControl">
      <section name="DataAccess" type="InfoControl.Data.Configuration.DataAccessSection, InfoControl"/>
    </sectionGroup>

  </configSections>


  <InfoControl>
    <DataAccess connectionStringName="DevServer"/>
  </InfoControl>

  <connectionStrings>
    <add name="DevServer" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Vivina_InfoControl; User Id='sa'; Password='123456';"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>