.TreeNode 
{ 
	font-family: Tahoma;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
}

.TreeNodeOver 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: black; 	
	text-decoration: underline; 
	cursor: pointer;
	cursor: hand;
	padding-left: 3px;
}

.TreeNodeSelect 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: white; 
	background: #316AC5; 	
    cursor: pointer;
	cursor: hand;
	margin-left: 3px;	
}

.TreeNodeCountry
{
	font-family: Tahoma;
	font-size: 8pt; 
	color: green;	
	padding-left: 3px;	
}

.TreeNodeContinent
{
	font-family: Tahoma;
	font-size: 8pt; 
	color: red;	
	padding-left: 3px;
}

.USASelect
{
	font-family: Tahoma; 
	font-size: 8pt; 
	color: white; 
	background: green; 	
    cursor: pointer;
	cursor: hand;
	margin-left: 3px;
}

.NYHover
{
	font-family: Tahoma; 
	font-size: 8pt; 
	color: black; 	
	text-decoration: underline; 
	background: red;
	cursor: pointer;
	cursor: hand;
	padding-left: 3px;
}