/*---------------------------------------------------------------------------
Globals

Verde:		007777
Laranja:	FDA43E
----------------------------------------------------------------------------*/
html, body, form
{
	background-color: #FFFFFF;
	border: solid 0px #FFFFFF;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

ul, ol
{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;	
	padding-left:20px;
}


img
{
	border-width: 0px;
}

div
{
	margin: auto;
}




