.TreeNode 
{ 
	font-family: Tahoma;
	font-size: 8pt; 
	font-weight: bold;
	color: #1e1e1e;	
	padding-left: 3px;
	text-decoration: none;	
}

.TreeNodeOver 
{
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #1e1e1e;	
	text-decoration: underline; 
	cursor: pointer;
	cursor: hand;
	padding-left: 3px;	
}

.TreeNodeSelect 
{     
	font-family: Tahoma; 
	font-size: 8pt; 
	font-weight: bold;
	color: #ffffff;	
	background: #9dccfb; 	
    cursor: pointer;
	cursor: hand;
	margin-left: 3px;
}

.TreeNodeDisabled
{ 
	font-family: Tahoma;
	font-size: 8pt; 
	color: gray;	
	padding-left: 3px;
	text-decoration: none;
	cursor: default;
}

.TreeNodeEdit 
{
  border:1px gray solid;
  font-family: tahoma; 
  font-size: 8pt;
  margin-left: 4px;  
}

.LoadingMessage
{
	font-family: Tahoma; 
	font-size: 8pt; 
	background:LemonChiffon; 
	border: solid 1px;
	padding: 2px;
}

.LoadingMessageBlue
{
	font-family: Tahoma; 
	font-size: 8pt; 
	color: Blue;
	padding: 2px;
}