.cLeafBox44, .cLeafBox44 td 
{
	margin:0px;
	padding:0px;
	border-collapse:collapse;
	text-align:left;		
}


.cLeafBox34 , .cLeafBox34 td 
{
	margin:0px;
	padding:0px;
	border-collapse:collapse;	
	text-align:left;	
}


.cLeafBox24 , .cLeafBox24 td 
{
	margin:0px;
	padding:0px;
	border-collapse:collapse;
	text-align:left;		
}


.cLeafBox14 , .cLeafBox14 td 
{
	margin:0px;
	padding:0px;
	border-collapse:collapse;	
	text-align:left;	
}



.cLeafBox14 .top .left{width:25px; height:25px; background-image: url(1/content.top.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76; }
.cLeafBox14 .top .center{height:25px; background-image: url(1/content.top.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .top .right{width:25px; height:25px; background-image: url(1/content.top.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .middle .left{width:25px; background-image: url(1/content.middle.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .middle .center{ background-image: url(1/content.middle.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .middle .right{width:25px; background-image: url(1/content.middle.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .bottom .left{width:25px; height:25px; background-image: url(1/content.bottom.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .bottom .center{background-image: url(1/content.bottom.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox14 .bottom .right{width:25px; height:25px; background-image: url(1/content.bottom.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}

.cLeafBox24 .top .left{width:25px; height:25px; background-image: url(2/content.top.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .top .center{height:25px; background-image: url(2/content.top.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .top .right{width:25px; height:25px; background-image: url(2/content.top.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .middle .left{width:25px; background-image: url(2/content.middle.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .middle .center{background-image: url(2/content.middle.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .middle .right{width:25px; background-image: url(2/content.middle.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .bottom .left{width:25px; height:25px; background-image: url(2/content.bottom.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .bottom .center{background-image: url(2/content.bottom.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox24 .bottom .right{width:25px; height:25px; background-image: url(2/content.bottom.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}


.cLeafBox34 .top .left{width:25px; height:25px; background-image: url(3/content.top.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .top .center{height:25px; background-image: url(3/content.top.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .top .right{width:25px; height:25px; background-image: url(3/content.top.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .middle .left{width:25px; background-image: url(3/content.middle.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .middle .center{background-image: url(3/content.middle.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .middle .right{width:25px; background-image: url(3/content.middle.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .bottom .left{width:25px; height:25px; background-image: url(3/content.bottom.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .bottom .center{background-image: url(3/content.bottom.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox34 .bottom .right{width:25px; height:25px; background-image: url(3/content.bottom.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}

.cLeafBox44 .top .left{width:25px; height:25px; background-image: url(4/content.top.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .top .center{height:25px; background-image: url(4/content.top.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .top .right{width:25px; height:25px; background-image: url(4/content.top.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .middle .left{width:25px; background-image: url(4/content.middle.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .middle .center{background-image: url(4/content.middle.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .middle .right{width:25px; background-image: url(4/content.middle.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .bottom .left{width:25px; height:25px; background-image: url(4/content.bottom.left.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .bottom .center{background-image: url(4/content.bottom.center.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}
.cLeafBox44 .bottom .right{width:25px; height:25px; background-image: url(4/content.bottom.right.gif);  filter:alpha(opacity=76); -moz-opacity:0.76;}

@media print
{
	
	
	.cLeafBox11 .top .left,
	.cLeafBox11 .top .center,	
	.cLeafBox11 .middle .left,
	.cLeafBox11 .bottom .left,
	.cLeafBox11 .bottom .center,
	.cLeafBox21 .top .left,
	.cLeafBox21 .top .center,
	.cLeafBox21 .middle .left,
	.cLeafBox21 .bottom .left,
	.cLeafBox21 .bottom .center,
	.cLeafBox31 .top .left,
	.cLeafBox31 .top .center,
	.cLeafBox31 .middle .left,
	.cLeafBox31 .bottom .left,
	.cLeafBox31 .bottom .center,
	.cLeafBox41 .top .left,
	.cLeafBox41 .top .center,
	.cLeafBox41 .middle .left,
	.cLeafBox41 .bottom .left,
	.cLeafBox41 .bottom .center{display:none !important;}
}