.cTabs11
{
	margin-left: -10px !important;
	height: 100%;
}
.cTabs11 iframe
{
	width: 100%;
	height: 100%;
}
.cTabs11, .cTabs11 ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.cTabs11 UL.tabNavigation
{
	margin-left: 15px !important;
}
.cTabs11 UL.tabNavigation LI
{
	display: inline;
	margin: 0px 0px 0px -3px;
	padding: 0;
	border: 0;
}
.cTabs11 UL.tabNavigation LI A
{
	background: url(Img/tabStripeOff.gif);
	color: #000;
	height: 20px;
	display: -moz-inline-box;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	padding: 12px 8px 0px 8px;
}
.cTabs11 UL.tabNavigation LI A.selected
{
	background: url(Img/tabStripeHover.gif);
}
.cTabs11 UL.tabNavigation LI A:hover
{
	background: url(Img/tabStripeHover.gif);
}

