.TreeNode
{ 
	font-family: Tahoma;
	font-size: 8pt; 
	color: black;	
	padding-left: 3px;
	text-align: left;
}

.TreeNodeOver 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: black; 	
	text-decoration: underline; 
	cursor: pointer;
	cursor: hand;
	padding-left: 3px;	
	text-align: left;
}

.TreeNodeSelect 
{ 
	font-family: Tahoma; 
	font-size: 8pt; 
	color: white; 
	background: #316AC5; 	
    cursor: pointer;
	cursor: hand;
	margin-left: 3px;	
	text-align: left;
}

.TreeContextItem
{ 
	font-family: Arial;
	font-size:10px;
	cursor: pointer;
	cursor: hand;
	padding-left:4px;
	height:24px;
	background-color:#F6F6F6;
	background-image:url(itemsBg.gif); 
	background-repeat:repeat-y;
	width:100%;	
	text-align: left;
}

.TreeContextItemOver
{
	font-family: Arial;
	font-size:10px;
	cursor: pointer;
	cursor: hand;
	padding-left:4px;
	height:24px;	
	background-color: #FFEEC2;	
	width:100%;
	text-align: left;
}

.TreeNodeEdit 
{
  border:1px gray solid;
  font-family: tahoma; 
  font-size: 8pt;
  margin-left: 3px;  
  text-align: left;
}