.RadScheduler table, .RadScheduler_Office2007 TABLE
{
	font: 13px Segoe UI, Tahoma !important;
}

.RadScheduler .rsHeader P
{
	
}

.RadScheduler .rsHeader h2, .RadScheduler_Office2007 .rsHeader h2
{
	font-size: 14px !important;
}

.RadScheduler .rsMainHeader, .RadScheduler_Office2007 .rsMainHeader, .RadScheduler_Office2007 .rsHeader UL
{
	font-family: Segoe UI, Tahoma !important;
	font-size: 14px !important;
	font-weight:lighter !important;
}

.rsAptWrap
{
	background: #F0FFFF none !important;
}
.RadScheduler .rsContent
{
	position: static !important;
}
.rsCell
{
	height: 20px !important;
	z-index: -1 !important;
}
.rsMainHeader
{
	white-space: nowrap;
}
.rsHoursWrapper
{
	height: 31px !important;
	position:static !important;
}
.rsHoursContent
{
	margin-top:10px;		
	height: 30px !important;
	position: static !important;
	font-weight:bold;
}
.rsAltHour
{
	display: none;
}
.rsDateWrap
{
	font-size: 14pt;
	width: 26px !important;
	height: 16px !important;
	color: #009999;
	padding-left: 5px;
	padding-top: 5px;
	float: left;
}
.rsAptDelete
{
	background-image: url(/aspnet-ajax/WebResource.axd?d=M7LdTbhqQBCLC1ezxFLgVpHzq0tmpSLuRnVMKDPEVnDEejED7KtzdRW6drlZZO8LtxlRu3WJZetqJq70Xdmyz7GtdryL2xizepWCRBNPsxg1&t=633819774920000000);
	background-position: -36px -343px;
}

.rsAptContent div
{
	height: 100%;
	position: absolute;
	width: 100%;
}

.rsAptContent div a
{
	margin: 10px;
	font: inherit !important;
}

.serviceorder
{
	background-image: url(technical.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.serviceorder a
{
	color: #099;
}

.delayed
{
	background-color: #FFE7E7 !important;
}
