<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vivina.InfoControl.DataClasses.Properties.Settings.Vivina_InfoControlConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Vivina_InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.DataClasses.Properties.Settings.InfoControlConnectionString"
            connectionString="Data Source=Server-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.DataClasses.Properties.Settings.InfoControlConnectionString1"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.DataClasses.Properties.Settings.InfoControlConnectionString2"
            connectionString="Data Source=SERVER-01;Initial Catalog=InfoControl;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.DataClasses.Properties.Settings.InfoControlConnectionString3"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.DataClasses.Properties.Settings.InfoControlConnectionString4"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.Vivina_InfoControlConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Vivina_InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString"
            connectionString="Data Source=Server-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString1"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString2"
            connectionString="Data Source=SERVER-01;Initial Catalog=InfoControl;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString3"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString4"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString5"
            connectionString="Data Source=RENAN-PC\SQLEXPRESS;Initial Catalog=InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString6"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=InfoControl;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.InfoControlConnectionString7"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.Vivina_InfoControlConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Vivina_InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.Erp.DataClasses.Properties.Settings.Vivina_InfoControlConnectionString2"
            connectionString="Data Source=RENAN-PC\SQLEXPRESS;Initial Catalog=Vivina_InfoControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Database1Entities" connectionString="metadata=res://*/Database1.csdl|res://*/Database1.ssdl|res://*/Database1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
