.cBtn11, .ui-theme-button, .cBtn11_hover, .ui-theme-button.hover, .cBtn11 input, .ui-theme-button input, .cBtn11_hover input,
.cBtn12, .cBtn12_hover, .cBtn12 input, .cBtn12_hover input,
.cBtn13, .cBtn13_hover, .cBtn13 input, .cBtn13_hover input,
.cBtn14, .cBtn14_hover, .cBtn14 input, .cBtn14_hover input
{
	cursor: hand;
	display:-moz-inline-box;
	display:inline-block;	
	height: 27px;
}

.cBtn11 input, .ui-theme-button input, .cBtn11_hover input, .cBtn11_disabled input,
.cBtn12 input, .cBtn12_hover input, .cBtn12_disabled input,
.cBtn13 input, .cBtn13_hover input, .cBtn13_disabled input,
.cBtn14 input, .cBtn14_hover input, .cBtn14_disabled input
{
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;	
	background-color: Transparent;
	font-family: Tahoma;
	padding: 0px 0px 0px 14px;
	border:0px solid black;
	height: 27px;
	font-weight:bold;
}

.cBtn11 span, .ui-theme-button span, .cBtn11_hover span, .cBtn11_disabled span,
.cBtn12 span, .cBtn12_hover span, .cBtn12_disabled span,
.cBtn13 span, .cBtn13_hover span, .cBtn13_disabled span,
.cBtn14 span, .cBtn14_hover span, .cBtn14_disabled span
{
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
	border:0px solid red;
	height: 27px;
	width: 13px;
}

.cBtn11_hover input, .cBtn12_hover input, .cBtn13_hover input, .cBtn14_hover input
{
	color: #FFFFFF;
}

.cBtn11 input, .ui-theme-button input, .cBtn11_disabled input,
.cBtn12 input, .cBtn12_disabled input,
.cBtn13 input, .cBtn13_disabled input,
.cBtn14 input, .cBtn14_disabled input
{
	color: #F0FFFF;
}

.cBtn11 input, .ui-theme-button input{background:url(controls/button/img/bg_left.gif) no-repeat;}
.cBtn11 span, .ui-theme-button span{background:url(controls/button/img/bg_right.gif) no-repeat;}
.cBtn11_hover input{background:url(controls/button/img/bg_left.gif) no-repeat 0px -25px;}
.cBtn11_hover span{background:url(controls/button/img/bg_right.gif) no-repeat 0px -25px;}
.cBtn11_disabled input{background:url(controls/button/img/bg_left.gif) no-repeat 0px -50px;}
.cBtn11_disabled span{background:url(controls/button/img/bg_right.gif) no-repeat 0px -50px;}

.cBtn12 input{background:url(controls/button/img/bg12_left.gif) no-repeat;}
.cBtn12 span{background:url(controls/button/img/bg12_right.gif) no-repeat;}
.cBtn12_hover input{background:url(controls/button/img/bg12_left.gif) no-repeat 0px -25px;}
.cBtn12_hover span{background:url(controls/button/img/bg12_right.gif) no-repeat 0px -25px;}
.cBtn12_disabled input{background:url(controls/button/img/bg12_left.gif) no-repeat 0px -50px;}
.cBtn12_disabled span{background:url(controls/button/img/bg12_right.gif) no-repeat 0px -50px;}

.cBtn13 input{background:url(controls/button/img/bg13_left.gif) no-repeat;}
.cBtn13 span{background:url(controls/button/img/bg13_right.gif) no-repeat;}
.cBtn13_hover input{background:url(controls/button/img/bg13_left.gif) no-repeat 0px -25px;}
.cBtn13_hover span{background:url(controls/button/img/bg13_right.gif) no-repeat 0px -25px;}
.cBtn13_disabled input{background:url(controls/button/img/bg13_left.gif) no-repeat 0px -50px;}
.cBtn13_disabled span{background:url(controls/button/img/bg13_right.gif) no-repeat 0px -50px;}

.cBtn14 input{background:url(controls/button/img/bg14_left.gif) no-repeat;}
.cBtn14 span{background:url(controls/button/img/bg14_right.gif) no-repeat;}
.cBtn14_hover input{background:url(controls/button/img/bg14_left.gif) no-repeat 0px -25px;}
.cBtn14_hover span{background:url(controls/button/img/bg14_right.gif) no-repeat 0px -25px;}
.cBtn14_disabled input{background:url(controls/button/img/bg14_left.gif) no-repeat 0px -50px;}
.cBtn14_disabled span{background:url(controls/button/img/bg14_right.gif) no-repeat 0px -50px;}

@media print
{
	.cBtn11, .ui-theme-button, .cBtn12, .cBtn13, .cBtn14, 
	.cBtn11_hover, .ui-theme-button.hover, .cBtn12_hover, .cBtn13_hover, .cBtn14_hover{display:none;}
}