<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vivina.InfoControl.BusinessRules.Properties.Settings.InfoControlConnectionString1"
            connectionString="Data Source=WS-02\SQLEXPRESS;Initial Catalog=InfoControl;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.BusinessRules.Properties.Settings.InfoControlConnectionString2"
            connectionString="Data Source=Server-01;Initial Catalog=InfoControl;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.BusinessRules.Properties.Settings.InfoControlConnectionString5"
            connectionString="Data Source=NOTEBOOK-01\SQLEXPRESS;Initial Catalog=InfoControl;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.BusinessRules.Properties.Settings.InfoControlConnectionString6"
            connectionString="Data Source=server-01;Initial Catalog=InfoControl;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vivina.InfoControl.BusinessRules.Properties.Settings.InfoControlConnectionString8"
            connectionString="Data Source=SERVER-01;Initial Catalog=InfoControl;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>