
body
{
	margin: 5px;
	z-index: 2;
	padding: 20px 0px 0px 20px;
}

span, div, br, input, textarea, select, p, h1, h2, h3
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ul, ol{margin:0px; text-align:left; font-weight:bold;padding-left: 20px;}
li{ font-weight:normal;}
h1, h2, h3, h4, h5, h6 {display:inline;}

html, body, form, iframe
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

a font
{
	border-bottom:1px none;
}
a:hover font
{
	border-bottom:1px solid;
}


#clean body, #popup body
{
	background: none !important;
	margin: 0px 0px 0px 0px;
	z-index: 2;
	padding: 0px 0px 0px 0px;
}

.sys-template {display:none;}

fieldset
{
	padding: 0px 8px 8px 8px;
}
legend
{
	padding: 0px 7px 0px 7px;
}

#main
{
	z-index: 2;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

#header
{
	height: 82px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	z-index: 0;
	vertical-align: top;
}

#fechar
{
	background: url(fechar.gif) 0px -27px no-repeat;
	width: 60px;
	height: 27px;
	position: absolute;
	top: 53px;
	right: 0px;
	cursor: hand;
	text-decoration: none;
}

#fechar:hover
{
	background: url(fechar.gif) no-repeat;
}



.menuContainer
{
	display: inline-block;
	width: 190px;
}


.topo
{
	position: absolute;
	margin: -25px 0px 0px 80px;
	z-index: 99;
}




.cHeader, .hidden
{
	display: none;
}

.btnReceitaFederal
{
	background: url(logo_receita_federal.gif) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	padding-right: 10px;
}

.cLoading11
{
	position: absolute;
	background-color: #FFFFFF;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	text-align: center;
	vertical-align: middle;
	width:100%;
	height:100%;
	z-index: 10001;
}

.FormMenuBar
{
	border: solid 1px #DDDDDD;
}

.FormBody
{
	margin-left: 10px;
	border: solid 2px #DDDDDD;
	border-collapse: collapse;
}
.Prospect
{
	padding: 5px 5px 5px 5px;
}

.comboDivBox
{
	background: url(Controls/comboDivBox.gif) no-repeat right;
	height: 14px;
	padding: 2px 24px 1px 4px;
	display: block;
	margin: 3px 10px 0px 0px;
	white-space: nowrap;
	border: 1px solid #7f9db9;
	z-index:1000;
}

.comboDivBox_menu
{
	position: absolute;
	border: 1px solid black;
	height: 250px;
	background-color: #FFF;
	overflow: auto;
	z-index:1000;
}


.ErrorPanel
{
	background-image: url(bug.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.delete
{
	background: url(icons.gif) no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	background-position: -656px 0px;
	margin-right:4px;
}
.delete:hover
{
	background-position: -639px 0px;
}




.webLink, .draft
{
	height: 16px;
	width: 16px;
	position: absolute;
	margin-top: -8px;
}
.webLink
{
	background-image: url(weblink.gif);
}

.draft
{
	background-image: url(draft.gif);
}

.CustomFileManager
{
  background-position:-379px -18px !important;
}


/*****************************************************************************************************
Comments
******************************************************************************************************/

#commentBody, #commentBody hr
{
	background: url(bgComments.jpg) right bottom;
	background-color: White;
	background-repeat: repeat-y;
	background-position: 180px;
	width: 100%;
}

#commentPlaceholder
{
}

#commentPlaceholder .icon
{
	width: 24px;
	height: 24px;
	background: url(comment.gif) right bottom no-repeat;
}

#commentPlaceholder iframe
{
	position: absolute;
	border: 1px solid gray;
	border-collapse: collapse;
	width: 400px;
	height: 300px;
	display: none;
	background-color: Transparent;
}

.comment-footer
{
	border-top: 1px dotted gray;
	width: 100%;
}

.comment-footer 
{
	font-size:7pt !important;
	color:#AAA !important;
}

/*****************************************************************************************************
Tasks
******************************************************************************************************/
.RadTreeView .shared
{
	display:inline-block;
	height:17px;
	width:17px;
	background-image:url(taskShared.gif);
	background-repeat:no-repeat;
	background-position: center center;
}



/*****************************************************************************************************
MENU
******************************************************************************************************/

#menu .search, #menu .tasks, #menu .calendar, #menu .notes, #menu .help
{
	display: inline-block;
	height: 30px;
	width: 30px;
	text-decoration: none;
}

#menu .tasks:hover, #menu .calendar:hover, #menu .search:hover, #menu .notes:hover, #menu .help:hover
{
	background-position:0px -30px;
}

#menu .search
{
	background: url(Menu/search.png) no-repeat;
}

#menu .tasks
{
	background: url(Menu/tasks.gif) no-repeat;
}

#menu .calendar
{
	background: url(Menu/calendar.gif) no-repeat;
}

#menu .notes
{
	background: url(Menu/notes.gif) no-repeat;
}

#menu .help
{
	background: url(Menu/help.gif) no-repeat;
}



#btnMenu
{
	position: absolute;
	background: url(Menu/controller.gif) no-repeat;
	background-position: right 40%;
	width: 22px;
	height: 100%;
	border-left: 1px solid #99CCCC;
	z-index: 10;
	top: 86px;
}


/*****************************************************************************************************
Start Pages
******************************************************************************************************/

a.Sales, a.SalesHistory, a.Transfer, a.Exchange, a.ProspectBuilder, a.NotaFiscal, a.Stock, a.SalesMap, a.XRay, a.RMA, a.Customer, a.FechamentoCaixa, a.Invoice, a.Sangria, a.CustomerCalls, a.OrderServices, a.Services
{
	display: block;
	width: 94px;
	height: 94px;
	text-decoration: none;
	background-position: 0px -94px !important;
}

a.Sales
{
	background: url(Company/Sales/bt_ponto_venda.gif) no-repeat;
}
a.SalesHistory
{
	background: url(Company/Sales/bt_historico_venda.gif) no-repeat;
}
a.Transfer
{
	background: url(Company/Sales/bt_transferencia.gif) no-repeat;
}
a.Exchange
{
	background: url(Company/Sales/bt_troca.gif) no-repeat;
}
a.ProspectBuilder
{
	background: url(Company/Sales/bt_gerador_proposta.gif) no-repeat;
}
a.NotaFiscal
{
	background: url(Company/Sales/bt_nota_fiscal.gif) no-repeat;
}
a.Stock
{
	background: url(Company/Sales/bt_estoque.gif) no-repeat;
}
a.SalesMap
{
	background: url(Company/Sales/bt_mapa_vendas.gif) no-repeat;
}
a.XRay
{
	background: url(Company/Sales/bt_raio_x.gif) no-repeat;
}
a.RMA
{
	background: url(Company/Sales/bt_rma.gif) no-repeat;
}
a.Sangria
{
	background: url(Company/Sales/bt_sangria.gif) no-repeat;
}
a.FechamentoCaixa
{
	background: url(Company/Sales/bt_fechamento_caixa.gif) no-repeat;
}
a.Customer
{
	background: url(Company/Sales/bt_clientes.gif) no-repeat;
}
a.Invoice
{
	background: url(Company/Accounting/bt_invoice.gif) no-repeat;
}
a.CustomerCalls
{
	background: url(Company/Services/bt_chamados.gif) no-repeat;
}
a.OrderServices
{
	background: url(Company/Services/bt_ordem_servico.gif) no-repeat;
}
a.Services
{
	background: url(Company/Services/bt_servicos.gif) no-repeat;
}


a.Sales:hover, a.SalesHistory:hover, a.Transfer:hover, a.Exchange:hover, a.ProspectBuilder:hover, a.NotaFiscal:hover, a.Stock:hover, a.SalesMap:hover, a.XRay:hover, a.RMA:hover, a.FechamentoCaixa:hover, a.Customer:hover, a.Invoice:hover, a.Sangria:hover, a.CustomerCalls:hover, a.OrderServices:hover, a.Services:hover
{
	background-position: 0px 0px !important;
}

.flowTop
{
	background: url(Company/flow_top.gif) no-repeat;
	width: 24px;
	height: 32px;
}
.flowRight
{
	background: url(Company/flow_right.gif) no-repeat;
	width: 50px;
	height: 32px;
	background-position: center right;
}
.flowBottom
{
	background: url(Company/flow_bottom.gif) no-repeat;
	width: 24px;
	height: 32px;
	background-position: bottom;
}
.flowLeft
{
	background: url(Company/flow_left.gif) no-repeat;
	width: 50px;
	height: 32px;
	background-position: center left;
}




/*********************************************
FILTER
*********************************************/
@media print
{
	#filter
	{
		display: none;
	}
}


#filter
{
	position: absolute;
	width: 93%;
	border-top:1px solid #009999;
	border-bottom: 0px solid #f2f2f2;
	border-left: 0px solid #f2f2f2;
	border-right: 0px solid #f2f2f2;
	
}
#filter .body
{
	z-index: 10000;	
	position:relative;
	padding:8px;
}

#filter .cBtn11, #filter .cBtn11_hover
{
	position:absolute;
	right: 2px;
	bottom: 0px;
}

#filter .closeButton
{
	background-image: url(btnFilterClose.gif);
	background-repeat: no-repeat;	
	visibility:visible;
	position: absolute;
	z-index: 10000;		
	cursor: hand;
	right:53%;
	height:15px;
	width:15px;
	bottom:0px;
}

#filter.closed .closeButton
{
	visibility:hidden;
}



#filter legend
{
	background-image: url(btnFilter.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding: 10px 0px 10px 30px;
}

#filter.closed
{
	border: 0px;
	height:30px;
}

#filter.closed .body
{
    display:none;
}

#filter.open .body
{
	background-color:#FFF;
	background-image: url(bgFilter.gif);
	background-repeat:no-repeat !important;
	background-position: right bottom;	
	border: 1px solid #009999;
	filter: alpha(opacity=100);	
}
#filter.open{ z-index:1; }


/*********************************************
logo
*********************************************/
@media print
{
	.cHeader{display:block !important; text-align:left;}
	.cHeader .logo{background-image:url(../../InfoControl/ImageHandler.aspx); position:relative !important; margin-right:10px;}
	
	.noPrintable{display: none;}

}